* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

table {
  margin: 40px auto;
}

#options {
  width: 415px;
  height: 815px;
  border: 1px solid red;
  overflow: scroll;
  margin-right: 40px;
}

.drag {
  display: inline-block;
  opacity: 0.8;
  width: 200px;
  height: 200px;
}

.drag:hover {
  opacity: 1;
  cursor: pointer;
}

.drag:active {
  cursor: pointer;
}

#drag1 {
  background-image: url("images/image-1.png");
}

#drag2 {
  background-image: url("images/image-2.png");
}

#drag3 {
  background-image: url("images/image-3.png");
}

#drag4 {
  background-image: url("images/image-4.png");
}

#drag5 {
  background-image: url("images/image-5.png");
}

#drag6 {
  background-image: url("images/image-6.png");
}

#drag7 {
  background-image: url("images/image-7.png");
}

#drag8 {
  background-image: url("images/image-8.png");
}

#drag9 {
  background-image: url("images/image-9.png");
}

#drag10 {
  background-image: url("images/image-10.png");
}

#drag11 {
  background-image: url("images/image-11.png");
}

#drag12 {
  background-image: url("images/image-12.png");
}

#frame {
  width: 800px;
  height: 815px;
  border: 1px solid red;
}

/*.ui-draggable-helperMoving {
  border: 1px dotted #000;
  padding: 6px;
  background: #fff;
  font-size: 1.2em;
  width: 100px;
  height: 100px;
}

.ui-draggable-helperStoped {
  border: 1px solid #000;
  width: 5px;
  height: 5px;
}*/


/* classes for dragged elements */

.dragged1, .dragged2, .dragged3, .dragged4, .dragged5, .dragged6,
.dragged7, .dragged8, .dragged9, .dragged10, .dragged11, .dragged12 {
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: move;
}

.dragged1 {
  background-image: url("images/image-1.png");
}

.dragged2 {
  background-image: url("images/image-2.png");
}

.dragged3 {
  background-image: url("images/image-3.png");
}

.dragged4 {
  background-image: url("images/image-4.png");
}

.dragged5 {
  background-image: url("images/image-5.png");
}

.dragged6 {
  background-image: url("images/image-6.png");
}

.dragged7 {
  background-image: url("images/image-7.png");
}

.dragged8 {
  background-image: url("images/image-8.png");
}

.dragged9 {
  background-image: url("images/image-9.png");
}

.dragged10 {
  background-image: url("images/image-10.png");
}

.dragged11 {
  background-image: url("images/image-11.png");
}

.dragged12 {
  background-image: url("images/image-12.png");
}

/*#element {
  border: 1px solid red
}*/